#game {
    background-color: rgb(56, 56, 56);
    color:whitesmoke;
    text-align: center;
    display: inline;
    padding: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#actualBoard {
    position: relative; 
    margin: auto;
    width: 600px;
    padding: 30px;
}

.row {
    height: 150px;
}

.col {
    background-color: rgb(232, 216, 195);
    border: 1px solid black;
    font-size: 75px;
    color:rgb(98, 27, 164);
    padding: 10px;
}

button {
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px 15px;
}
