#game {
    background-color: rgb(155, 155, 155);
    color:whitesmoke;
    text-align: center;
    padding: 20px;
}

#mainPage{
    background-color:rgb(46, 45, 45);
    padding: 40px;
    width:60%;
    height:50%;
    margin: 20px auto;
}

#mainPage > * {
    margin: 5px;
    padding: 10px;
}